<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
       <class name="jbktest.Logintest"/>
      <class name="jbktest.LoginDashboardTest"/>
       <class name="jbktest.LoginAddUserTest"/>
       <class name="jbktest.LoginUsersTest"/>
        <class name="jbktest.LoginOperatorsTest"/>
         <class name="jbktest.LoginUsefullTest"/> 
      <class name="jbktest.LoginDownlaodTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
